/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body{
  width: 100vw;
  //background-color: rgb(224, 222, 222);

}

.myclass{
  padding-left: 0px !important;
  padding-right: 0px !important;

}

.full{
  height: 92vh;
  width: 100%;
  margin-left: 0px !important;
  box-shadow: 0 5px 0px rgba(0,0,0,0.2);
}

.sidebar{
  height: 100%;
  border: 2px solid grey;
  color: white;
  font-weight: bold;
  text-align: center;
}

.content{
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2015/01/20/12/51/imac-605421_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.white{
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 1em;
}

.white:hover{
  color: rgba(255, 255, 255, 0.75)
}

.inner{
  width: 95%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: rgba(238, 233, 233, 0.7);
  vertical-align: middle;
}

.form-control{
  width: 40% !important;
  text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
