<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link white" href="#">Контрагенты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link white" href="#">Сделки</a>
  </li>
  <li class="nav-item">
    <a class="nav-link white" href="#">Документы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link white" href="#">Поиск</a>
  </li>
  <li class="nav-item">
    <a class="nav-link white" href="#">Еще хуйня какая то</a>
  </li>
</ul>