<ul class="nav flex-column">
  <li class="nav-item pt-5">
    <a class="nav-link white" href="#">Рабочий стол</a>
  </li>
  <li class="nav-item pt-5">
    <a class="nav-link white" href="#">Сделки</a>
  </li>
  <li class="nav-item pt-5">
    <a class="nav-link white" href="#">Задачи</a>
  </li>
  <li class="nav-item pt-5">
    <a class="nav-link white" href="#">Почта</a>
  </li>
  <li class="nav-item pt-5">
    <a class="nav-link white" href="#">Звонки</a>
  </li>
  <li class="nav-item pt-5">
    <a class="nav-link white" href="#">Интеграции</a>
  </li>
  <li class="nav-item pt-5">
    <a class="nav-link white" href="#">Аналитика</a>
  </li>
  <li class="nav-item pt-5">
    <a class="nav-link white" href="#">Настройки</a>
  </li>
  <li class="nav-item pt-5">
    <a class="nav-link white" href="#">Поддержка</a>
  </li>
</ul>