<ul class="nav flex-column">
  <li class="nav-item pt-5">
    <%= link_to 'Заявки', orders_path, class: 'nav-link white' %>
  </li>
  <li class="nav-item pt-5">
    <%= link_to 'Organisations', organisations_path, class: 'nav-link white' %>
  </li>
  <li class="nav-item pt-5">
    <a class="nav-link white" href="#">Виды работ</a>
  </li>
  <li class="nav-item pt-5">
    <%= link_to 'Пользователи', users_path, class: 'nav-link white' %>
  </li>

</ul>